/*===========================>
IMPORTS
<============================*/

@import 'bourbon';
@import 'neat';

/*===========================>
VARIABLES
<============================*/
$tiny: 'max-width: 500px';
$tablet: 'max-width: 700px';
$laptop: 'max-width: 1100px';
$desktop: 'max-width: 1350px';
$link-color: #1f242d;
$link: #275898;
$link-click: #6b94cb;
$font-color: #1f242d;
$font1: 'Montserrat', Helvetica, sans-serif;
$bg: #d6d7d6;
$bg2: #eee;


/*===========================>
GLOBAL
<============================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*===========================>
MAIN CONTENT
<============================*/

body {
  background-color: #eee;
  background-image: linear-gradient(to bottom, #6b94cb, #e6e7e8 100%);
  background-attachment: fixed;
  padding: 20px;
  font-family: $font1;
  color: $font-color;
}

header {
  text-align: center;
  color: $link;
  padding-bottom: 20px;
  h1 {
    font-size: 5em;
  }
}

footer {
  text-align: center;
  line-height: 3rem;
  bottom: 8px;
  left: 0;
  display: block;
  background-color: transparent;
  @media($laptop){
    font-size: .75em;
  }
}

.space {
  height: 50px;
}

.container {
  width: 100%;
}

/*===========================>
INPUTS
<============================*/

.input-section {
  @include span-columns(6);
  border: 2px solid #000;
  padding: 20px;
  margin-right: 0;
  font-family: $font1;
  color: $font-color;
}

#blog-title {
  height: 2em;
}

#blogs-name {
  @include outer-container;
  @include span-columns(5);
  label {
    font-size: 0.8em;
  }
  @media($desktop) {
    @include outer-container;
    @include span-columns(10);
  }
}

#blog-tag {
  @include outer-container;
  @include span-columns(4);
  @include shift(5);
  margin-left: 0;
  label {
    font-size: 0.8em;
  }
  @media($desktop) {
    @include outer-container;
    @include span-columns(10);
  }
}

#tags {
  height: 2em;
  width: 60%;

}

.go-button {
  font-size: 0.8em;
  //margin-left: 20px;
  background-color: #75cd86;
}

/*===========================>
RESULTS
<============================*/

#returns {
  @include span-columns(6);
  float: left;
}

#list {
  list-style: none;
  padding-left: 0;
}

.items {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 50px;
  font-size: 1em;
  font-weight: 400;
  height: auto;
  margin: 10px;
  @media($laptop){
    font-size: 0.75em;
  }
  h3{
    @media($laptop){
      font-size: 1em;
    }
  }
}

.each-item {
  overflow: hidden;
  height: 400px;
  font-size: 1em;
  @media($laptop){
    font-size: 0.75em;
  }
  @media($tablet){
    font-size: 0.5em;
  }
}

.item-button {
  float: right;
  background-color: #4490df;
  margin-top: 10px;
  font-size: 1em;
}

/*===========================>
FAVORITES
<============================*/

#favorites {
  @include span-columns(6);
  @include shift(8);
  font-family: $font1;
  float: right;
  margin-left: 0;
  h1 {
    text-align: center;
    font-weight: 700;
    @media($laptop){
      font-size: 2em;
    }
  }
}

#fave-list {
  list-style: none;
  padding-left: 0;
}

.fave-items {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 50px;
  font-size: 1em;
  font-weight: 400;
  height: auto;
  margin: 10px;
  @media($laptop){
    font-size: 0.75em;
  }
  @media($tablet){
    font-size: 0.5em;
  }
}
